#blackOut{
    display: none;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    z-index: 2;
}

.editModal{
    background-color: white;
    top: 25%;
    z-index: 3;
}

.editModal > form{
    padding: 5% 2%;
}

#closeModal{
    position: absolute;
    top:2%;
    right:2%;
}

.show{
    display: block;
}

.rightColumn, .leftColumn{
    display: inline-block;
    box-sizing: border-box;
    width:49%;
    position: absolute;
    top:25%;
}

.rightColumn{
    left:50%;
}
.leftColumn{
    border-right: 1px solid grey; 
}

#login{
    display: none;
    position: absolute;
    background-color: white;
    top:0;
    left:0;
    height: 100%;
    z-index: 2;
}