.blackOut{
    display: none;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    z-index: 2;
}

.editModal{
    background-color: white;
    top: 25%;
}

.editModal > form{
    padding: 5% 2%;
}


.show{
    display: block;
}
